<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5a12ef54fce54f89b4278446597c2817" class="chart-container" style="width:100%; height:700px;"></div>
    <script>
        var chart_5a12ef54fce54f89b4278446597c2817 = echarts.init(
            document.getElementById('5a12ef54fce54f89b4278446597c2817'), 'white', {renderer: 'canvas'});
        var option_5a12ef54fce54f89b4278446597c2817 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 2500,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "formatter": function (x) { var strs = x.data.name;   var n='';    var str='centernode';   if(strs.search(str)!=-1) {return  n;}   var strs = x.data.name.split('|')[0];  if(strs.length<=6){                       return strs;                   }else {                       name = strs.slice(0,6) + '...';                        return name;                   }}
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": true,
            "focusNodeAdjacency": "true",
            "data": [
                {
                    "name": "\u51b3\u65ad\u56f0\u96be\u611f|symptom",
                    "des": "\u51b3\u65ad\u56f0\u96be\u611f",
                    "category": 1,
                    "symbolSize": 90
                },
                {
                    "name": "accompany_disease|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "desc|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "\u51b3\u65ad\u56f0\u96be\u611f\u591a\u89c1\u4e8e\u4ea7\u540e\u6291\u90c1\u75c7\u3002\u4ea7\u540e\u6291\u90c1\u75c7\u4e5f\u53eb\u4ea7\u540e\u5fe7\u90c1\u75c7\uff0c\u662f\u5987\u5973\u5728\u751f\u4ea7\u5b69\u5b50\u4e4b\u540e\u7531\u4e8e\u751f\u7406\u548c\u5fc3\u7406\u56e0\u7d20\u9020\u6210\u7684\u6291\u90c1\u75c7\uff0c\u75c7\u72b6\u6709\u7d27\u5f20\u3001\u7591\n\u8651\u3001\u5185\u759a\u3001\u6050\u60e7\u7b49\uff0c\u6781\u5c11\u6570\u4e25\u91cd\u7684\u4f1a\u6709\u7edd\u671b\u3001\u79bb\u5bb6\u51fa\u8d70\u3001\u4f24\u5bb3\u5b69\u5b50\u6216\u81ea\u6740\u7684\u60f3\u6cd5\u548c\u884c\u52a8\u3002|desc",
                    "des": "\u51b3\u65ad\u56f0\u96be\u611f\u591a\u89c1\u4e8e\u4ea7\u540e\u6291\u90c1\u75c7\u3002\u4ea7\u540e\u6291\u90c1\u75c7\u4e5f\u53eb\u4ea7\u540e\u5fe7\u90c1\u75c7\uff0c\u662f\u5987\u5973\u5728\u751f\u4ea7\u5b69\u5b50\u4e4b\u540e\u7531\u4e8e\u751f\u7406\u548c\u5fc3\u7406\u56e0\u7d20\u9020\u6210\u7684\u6291\u90c1\u75c7\uff0c\u75c7\u72b6\u6709\u7d27\u5f20\u3001\u7591\n\u8651\u3001\u5185\u759a\u3001\u6050\u60e7\u7b49\uff0c\u6781\u5c11\u6570\u4e25\u91cd\u7684\u4f1a\u6709\u7edd\u671b\u3001\u79bb\u5bb6\u51fa\u8d70\u3001\u4f24\u5bb3\u5b69\u5b50\u6216\u81ea\u6740\u7684\u60f3\u6cd5\u548c\u884c\u52a8\u3002",
                    "category": 3,
                    "symbolSize": 70
                },
                {
                    "name": "\u4ea7\u540e\u6291\u90c1|disease",
                    "des": "\u4ea7\u540e\u6291\u90c1",
                    "category": 2,
                    "symbolSize": 70
                }
            ],
            "categories": [
                {},
                {
                    "name": "symptom"
                },
                {
                    "name": "disease"
                },
                {
                    "name": "desc"
                }
            ],
            "edgeLabel": {
                "show": true,
                "margin": 8,
                "formatter": function (x) {return x.data.name;}
            },
            "edgeSymbol": [
                "circle",
                "arrow"
            ],
            "edgeSymbolSize": [
                4,
                10
            ],
            "links": [
                {
                    "source": "\u51b3\u65ad\u56f0\u96be\u611f|symptom",
                    "target": "accompany_disease|centernode",
                    "name": "accompany_disease"
                },
                {
                    "source": "\u51b3\u65ad\u56f0\u96be\u611f|symptom",
                    "target": "desc|centernode",
                    "name": "desc"
                },
                {
                    "source": "desc|centernode",
                    "target": "\u51b3\u65ad\u56f0\u96be\u611f\u591a\u89c1\u4e8e\u4ea7\u540e\u6291\u90c1\u75c7\u3002\u4ea7\u540e\u6291\u90c1\u75c7\u4e5f\u53eb\u4ea7\u540e\u5fe7\u90c1\u75c7\uff0c\u662f\u5987\u5973\u5728\u751f\u4ea7\u5b69\u5b50\u4e4b\u540e\u7531\u4e8e\u751f\u7406\u548c\u5fc3\u7406\u56e0\u7d20\u9020\u6210\u7684\u6291\u90c1\u75c7\uff0c\u75c7\u72b6\u6709\u7d27\u5f20\u3001\u7591\n\u8651\u3001\u5185\u759a\u3001\u6050\u60e7\u7b49\uff0c\u6781\u5c11\u6570\u4e25\u91cd\u7684\u4f1a\u6709\u7edd\u671b\u3001\u79bb\u5bb6\u51fa\u8d70\u3001\u4f24\u5bb3\u5b69\u5b50\u6216\u81ea\u6740\u7684\u60f3\u6cd5\u548c\u884c\u52a8\u3002|desc",
                    "name": " "
                },
                {
                    "source": "accompany_disease|centernode",
                    "target": "\u4ea7\u540e\u6291\u90c1|disease",
                    "name": " "
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": function (x) { if(x.dataType === 'edge'){return x.data.name;} var strs = x.data.des;  var str = ''; for(var i = 0, s; s = strs[i++];) { if(i==500){str+='...'; break;} str += s; if(!(i % 50)) str += '<br>'; } return str;},
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "",
                "symptom",
                "disease",
                "desc"
            ],
            "selected": {
                "": true,
                "symptom": true,
                "disease": true,
                "desc": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u51b3\u65ad\u56f0\u96be\u611f\u76f8\u5173\u77e5\u8bc6\u56fe\u8c31",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5a12ef54fce54f89b4278446597c2817.setOption(option_5a12ef54fce54f89b4278446597c2817);
    </script>
</body>
</html>
