<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="90d9bf1b7a4f46ef8809b42ae2e5b43e" class="chart-container" style="width:100%; height:700px;"></div>
    <script>
        var chart_90d9bf1b7a4f46ef8809b42ae2e5b43e = echarts.init(
            document.getElementById('90d9bf1b7a4f46ef8809b42ae2e5b43e'), 'white', {renderer: 'canvas'});
        var option_90d9bf1b7a4f46ef8809b42ae2e5b43e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 2500,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "formatter": function (x) { var strs = x.data.name;   var n='';    var str='centernode';   if(strs.search(str)!=-1) {return  n;}   var strs = x.data.name;  if(strs.length<=6){                       return strs;                   }else {                       name = strs.slice(0,6) + '...';                        return name;                   }}
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": true,
            "focusNodeAdjacency": "true",
            "data": [
                {
                    "name": "\u6291\u90c1\u5fc3\u5883\u7684\u9002\u5e94\u6027\u969c\u788d",
                    "des": "\u6291\u90c1\u5fc3\u5883\u7684\u9002\u5e94\u6027\u969c\u788d",
                    "category": 1,
                    "symbolSize": 90
                },
                {
                    "name": "desc|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "\u6291\u90c1\u5fc3\u5883\u7684\u9002\u5e94\u6027\u969c\u788d\u4e5f\u79f0\u9002\u5e94\u969c\u788d\u6027\u6291\u90c1\uff0c\u662f\u5728\u6210\u5e74\u4eba\u4e2d\u6700\u5e38\u89c1\u7684\u9002\u5e94\u6027\u969c\u788d\u3002\u4e34\u5e8a\u8868\u73b0\u4ee5\u6291\u90c1\u6027\u75c7\u72b6\u4e3a\u4e3b\uff0c\u4f46\u6bd4\u91cd\u6027\u6291\u90c1\u4e3a\u8f7b\u3002\u75c5\u4eba\n\u5728\u6291\u90c1\u5fc3\u5883\u7684\u80cc\u666f\u4e0a\uff0c\u51fa\u73b0\u65e0\u671b\u611f\u3001\u54ed\u6ce3\u7b49\u75c7\u72b6\u3002",
                    "des": "\u6291\u90c1\u5fc3\u5883\u7684\u9002\u5e94\u6027\u969c\u788d\u4e5f\u79f0\u9002\u5e94\u969c\u788d\u6027\u6291\u90c1\uff0c\u662f\u5728\u6210\u5e74\u4eba\u4e2d\u6700\u5e38\u89c1\u7684\u9002\u5e94\u6027\u969c\u788d\u3002\u4e34\u5e8a\u8868\u73b0\u4ee5\u6291\u90c1\u6027\u75c7\u72b6\u4e3a\u4e3b\uff0c\u4f46\u6bd4\u91cd\u6027\u6291\u90c1\u4e3a\u8f7b\u3002\u75c5\u4eba\n\u5728\u6291\u90c1\u5fc3\u5883\u7684\u80cc\u666f\u4e0a\uff0c\u51fa\u73b0\u65e0\u671b\u611f\u3001\u54ed\u6ce3\u7b49\u75c7\u72b6\u3002",
                    "category": 2,
                    "symbolSize": 70
                }
            ],
            "categories": [
                {},
                {
                    "name": "disease"
                },
                {
                    "name": "desc"
                }
            ],
            "edgeLabel": {
                "show": true,
                "margin": 8,
                "formatter": function (x) {return x.data.name;}
            },
            "edgeSymbol": [
                "circle",
                "arrow"
            ],
            "edgeSymbolSize": [
                4,
                10
            ],
            "links": [
                {
                    "source": "\u6291\u90c1\u5fc3\u5883\u7684\u9002\u5e94\u6027\u969c\u788d",
                    "target": "desc|centernode",
                    "name": "desc"
                },
                {
                    "source": "desc|centernode",
                    "target": "\u6291\u90c1\u5fc3\u5883\u7684\u9002\u5e94\u6027\u969c\u788d\u4e5f\u79f0\u9002\u5e94\u969c\u788d\u6027\u6291\u90c1\uff0c\u662f\u5728\u6210\u5e74\u4eba\u4e2d\u6700\u5e38\u89c1\u7684\u9002\u5e94\u6027\u969c\u788d\u3002\u4e34\u5e8a\u8868\u73b0\u4ee5\u6291\u90c1\u6027\u75c7\u72b6\u4e3a\u4e3b\uff0c\u4f46\u6bd4\u91cd\u6027\u6291\u90c1\u4e3a\u8f7b\u3002\u75c5\u4eba\n\u5728\u6291\u90c1\u5fc3\u5883\u7684\u80cc\u666f\u4e0a\uff0c\u51fa\u73b0\u65e0\u671b\u611f\u3001\u54ed\u6ce3\u7b49\u75c7\u72b6\u3002",
                    "name": " "
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": function (x) { if(x.dataType === 'edge'){return x.data.name;} var strs = x.data.des;  var str = ''; for(var i = 0, s; s = strs[i++];) { if(i==500){str+='...'; break;} str += s; if(!(i % 50)) str += '<br>'; } return str;},
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "",
                "disease",
                "desc"
            ],
            "selected": {
                "": true,
                "disease": true,
                "desc": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u6291\u90c1\u5fc3\u5883\u7684\u9002\u5e94\u6027\u969c\u788d\u76f8\u5173\u77e5\u8bc6\u56fe\u8c31",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_90d9bf1b7a4f46ef8809b42ae2e5b43e.setOption(option_90d9bf1b7a4f46ef8809b42ae2e5b43e);
    </script>
</body>
</html>
