<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="b9cecf27bec64018963357a555a7ec94" class="chart-container" style="width:100%; height:700px;"></div>
    <script>
        var chart_b9cecf27bec64018963357a555a7ec94 = echarts.init(
            document.getElementById('b9cecf27bec64018963357a555a7ec94'), 'white', {renderer: 'canvas'});
        var option_b9cecf27bec64018963357a555a7ec94 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 2500,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "formatter": function (x) { var strs = x.data.name;   var n='';    var str='centernode';   if(strs.search(str)!=-1) {return  n;}   var strs = x.data.name.split('|')[0];  if(strs.length<=6){                       return strs;                   }else {                       name = strs.slice(0,6) + '...';                        return name;                   }}
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": true,
            "focusNodeAdjacency": "true",
            "data": [
                {
                    "name": "\u5fc3\u5883\u4f4e\u843d|symptom",
                    "des": "\u5fc3\u5883\u4f4e\u843d",
                    "category": 3,
                    "symbolSize": 90
                },
                {
                    "name": "accompany_disease|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "desc|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "\u60c5\u7eea\u4f4e\u843d\uff08depression\uff09\u6307\u60a3\u8005\u5185\u5fc3\u6709\u6c89\u91cd\u611f\uff0c\u6574\u65e5\u5fe7\u5fc3\u5fe1\u5fe1\uff0c\u6101\u7709\u4e0d\u5c55\u3002\u91cd\u8005\u5fe7\u8651\u6cae\u4e27\uff0c\u5509\u58f0\u53f9\u6c14\uff0c\u60b2\u89c2\u5931\u671b\uff0c\u611f\u5230\u751f\u6d3b\u4e4f\n\u5473\uff0c\u751a\u81f3\u8ba4\u4e3a\u751f\u4e0d\u5982\u6b7b\u3002\u81ea\u6211\u611f\u89c9\u4e0d\u826f\uff0c\u75b2\u5026\u65e0\u529b\uff0c\u65e0\u7cbe\u6253\u91c7\u3001\u81ea\u5351\u81ea\u8d23\uff0c\u751a\u81f3\u6709\u7f6a\u6076\u611f\uff0c\u56e0\u800c\u53ef\u51fa\u73b0\u81ea\u4f24\u548c\u81ea\u6740\u89c2\u5ff5\u6216\u884c\u4e3a\u3002\u5e38\u89c1\u4e8e\u5fc3\n\u5883\u6076\u52a3\u75be\u75c5\u3001\u8e81\u90c1\u75c7\u3001\u66f4\u5e74\u671f\u5fe7\u90c1\u75c7\u3001\u5206\u88c2\u60c5\u611f\u6027\u7cbe\u795e\u75c5\u53ca\u795e\u7ecf\u75c7\u3002|desc",
                    "des": "\u60c5\u7eea\u4f4e\u843d\uff08depression\uff09\u6307\u60a3\u8005\u5185\u5fc3\u6709\u6c89\u91cd\u611f\uff0c\u6574\u65e5\u5fe7\u5fc3\u5fe1\u5fe1\uff0c\u6101\u7709\u4e0d\u5c55\u3002\u91cd\u8005\u5fe7\u8651\u6cae\u4e27\uff0c\u5509\u58f0\u53f9\u6c14\uff0c\u60b2\u89c2\u5931\u671b\uff0c\u611f\u5230\u751f\u6d3b\u4e4f\n\u5473\uff0c\u751a\u81f3\u8ba4\u4e3a\u751f\u4e0d\u5982\u6b7b\u3002\u81ea\u6211\u611f\u89c9\u4e0d\u826f\uff0c\u75b2\u5026\u65e0\u529b\uff0c\u65e0\u7cbe\u6253\u91c7\u3001\u81ea\u5351\u81ea\u8d23\uff0c\u751a\u81f3\u6709\u7f6a\u6076\u611f\uff0c\u56e0\u800c\u53ef\u51fa\u73b0\u81ea\u4f24\u548c\u81ea\u6740\u89c2\u5ff5\u6216\u884c\u4e3a\u3002\u5e38\u89c1\u4e8e\u5fc3\n\u5883\u6076\u52a3\u75be\u75c5\u3001\u8e81\u90c1\u75c7\u3001\u66f4\u5e74\u671f\u5fe7\u90c1\u75c7\u3001\u5206\u88c2\u60c5\u611f\u6027\u7cbe\u795e\u75c5\u53ca\u795e\u7ecf\u75c7\u3002",
                    "category": 2,
                    "symbolSize": 70
                },
                {
                    "name": "\u53cc\u76f8\u60c5\u611f\u969c\u788d|disease",
                    "des": "\u53cc\u76f8\u60c5\u611f\u969c\u788d",
                    "category": 1,
                    "symbolSize": 70
                }
            ],
            "categories": [
                {},
                {
                    "name": "disease"
                },
                {
                    "name": "desc"
                },
                {
                    "name": "symptom"
                }
            ],
            "edgeLabel": {
                "show": true,
                "margin": 8,
                "formatter": function (x) {return x.data.name;}
            },
            "edgeSymbol": [
                "circle",
                "arrow"
            ],
            "edgeSymbolSize": [
                4,
                10
            ],
            "links": [
                {
                    "source": "\u5fc3\u5883\u4f4e\u843d|symptom",
                    "target": "accompany_disease|centernode",
                    "name": "accompany_disease"
                },
                {
                    "source": "\u5fc3\u5883\u4f4e\u843d|symptom",
                    "target": "desc|centernode",
                    "name": "desc"
                },
                {
                    "source": "desc|centernode",
                    "target": "\u60c5\u7eea\u4f4e\u843d\uff08depression\uff09\u6307\u60a3\u8005\u5185\u5fc3\u6709\u6c89\u91cd\u611f\uff0c\u6574\u65e5\u5fe7\u5fc3\u5fe1\u5fe1\uff0c\u6101\u7709\u4e0d\u5c55\u3002\u91cd\u8005\u5fe7\u8651\u6cae\u4e27\uff0c\u5509\u58f0\u53f9\u6c14\uff0c\u60b2\u89c2\u5931\u671b\uff0c\u611f\u5230\u751f\u6d3b\u4e4f\n\u5473\uff0c\u751a\u81f3\u8ba4\u4e3a\u751f\u4e0d\u5982\u6b7b\u3002\u81ea\u6211\u611f\u89c9\u4e0d\u826f\uff0c\u75b2\u5026\u65e0\u529b\uff0c\u65e0\u7cbe\u6253\u91c7\u3001\u81ea\u5351\u81ea\u8d23\uff0c\u751a\u81f3\u6709\u7f6a\u6076\u611f\uff0c\u56e0\u800c\u53ef\u51fa\u73b0\u81ea\u4f24\u548c\u81ea\u6740\u89c2\u5ff5\u6216\u884c\u4e3a\u3002\u5e38\u89c1\u4e8e\u5fc3\n\u5883\u6076\u52a3\u75be\u75c5\u3001\u8e81\u90c1\u75c7\u3001\u66f4\u5e74\u671f\u5fe7\u90c1\u75c7\u3001\u5206\u88c2\u60c5\u611f\u6027\u7cbe\u795e\u75c5\u53ca\u795e\u7ecf\u75c7\u3002|desc",
                    "name": " "
                },
                {
                    "source": "accompany_disease|centernode",
                    "target": "\u53cc\u76f8\u60c5\u611f\u969c\u788d|disease",
                    "name": " "
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": function (x) { if(x.dataType === 'edge'){return x.data.name;} var strs = x.data.des;  var str = ''; for(var i = 0, s; s = strs[i++];) { if(i==500){str+='...'; break;} str += s; if(!(i % 50)) str += '<br>'; } return str;},
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "",
                "disease",
                "desc",
                "symptom"
            ],
            "selected": {
                "": true,
                "disease": true,
                "desc": true,
                "symptom": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5fc3\u5883\u4f4e\u843d\u76f8\u5173\u77e5\u8bc6\u56fe\u8c31",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_b9cecf27bec64018963357a555a7ec94.setOption(option_b9cecf27bec64018963357a555a7ec94);
    </script>
</body>
</html>
