<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="8932f7ffa11b4f1da3dae26b5459ae99" class="chart-container" style="width:100%; height:700px;"></div>
    <script>
        var chart_8932f7ffa11b4f1da3dae26b5459ae99 = echarts.init(
            document.getElementById('8932f7ffa11b4f1da3dae26b5459ae99'), 'white', {renderer: 'canvas'});
        var option_8932f7ffa11b4f1da3dae26b5459ae99 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 2500,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "formatter": function (x) { var strs = x.data.name;   var n='';    var str='centernode';   if(strs.search(str)!=-1) {return  n;}   var strs = x.data.name.split('|')[0];  if(strs.length<=6){                       return strs;                   }else {                       name = strs.slice(0,6) + '...';                        return name;                   }}
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": true,
            "focusNodeAdjacency": "true",
            "data": [
                {
                    "name": "\u590d\u65b9\u5421\u62c9\u897f\u5766\u8111\u86cb\u767d\u6c34\u89e3\u7269\u7247|drug",
                    "des": "\u590d\u65b9\u5421\u62c9\u897f\u5766\u8111\u86cb\u767d\u6c34\u89e3\u7269\u7247",
                    "category": 6,
                    "symbolSize": 90
                },
                {
                    "name": "attention|centernode",
                    "symbolSize": 20
                },
                {
                    "name": "cure_disease|centernode",
                    "symbolSize": 20
                },
                {
                    "name": "use|centernode",
                    "symbolSize": 20
                },
                {
                    "name": "forbid|centernode",
                    "symbolSize": 20
                },
                {
                    "name": "uneffect|centernode",
                    "symbolSize": 20
                },
                {
                    "name": "\u53e3\u670d\uff0c\u4e00\u65e53\u6b21\uff0c\u6210\u4eba\u4e00\u6b213\u7247\uff0c\u513f\u7ae5\u914c\u51cf\u6216\u9075\u533b\u5631\u3002|use",
                    "des": "\u53e3\u670d\uff0c\u4e00\u65e53\u6b21\uff0c\u6210\u4eba\u4e00\u6b213\u7247\uff0c\u513f\u7ae5\u914c\u51cf\u6216\u9075\u533b\u5631\u3002",
                    "category": 2,
                    "symbolSize": 70
                },
                {
                    "name": "\u5c1a\u672a\u89c1\u6709\u5173\u4e0d\u826f\u53cd\u5e94\u62a5\u9053\u3002|uneffect",
                    "des": "\u5c1a\u672a\u89c1\u6709\u5173\u4e0d\u826f\u53cd\u5e94\u62a5\u9053\u3002",
                    "category": 3,
                    "symbolSize": 70
                },
                {
                    "name": "\u5bf9\u672c\u54c1\u8fc7\u654f\u8005\u7981\u7528\u3002|forbid",
                    "des": "\u5bf9\u672c\u54c1\u8fc7\u654f\u8005\u7981\u7528\u3002",
                    "category": 4,
                    "symbolSize": 70
                },
                {
                    "name": "\u5f53\u836f\u54c1\u6027\u72b6\u53d1\u751f\u6539\u53d8\u65f6\u7981\u6b62\u4f7f\u7528\u3002|attention",
                    "des": "\u5f53\u836f\u54c1\u6027\u72b6\u53d1\u751f\u6539\u53d8\u65f6\u7981\u6b62\u4f7f\u7528\u3002",
                    "category": 1,
                    "symbolSize": 70
                },
                {
                    "name": "\u53cd\u5e94\u6027\u6291\u90c1|disease",
                    "des": "\u53cd\u5e94\u6027\u6291\u90c1",
                    "category": 5,
                    "symbolSize": 70
                }
            ],
            "categories": [
                {},
                {
                    "name": "attention"
                },
                {
                    "name": "use"
                },
                {
                    "name": "uneffect"
                },
                {
                    "name": "forbid"
                },
                {
                    "name": "disease"
                },
                {
                    "name": "drug"
                }
            ],
            "edgeLabel": {
                "show": true,
                "margin": 8,
                "formatter": function (x) {return x.data.name;}
            },
            "edgeSymbol": [
                "circle",
                "arrow"
            ],
            "edgeSymbolSize": [
                4,
                10
            ],
            "links": [
                {
                    "source": "\u590d\u65b9\u5421\u62c9\u897f\u5766\u8111\u86cb\u767d\u6c34\u89e3\u7269\u7247|drug",
                    "target": "attention|centernode",
                    "name": "attention"
                },
                {
                    "source": "\u590d\u65b9\u5421\u62c9\u897f\u5766\u8111\u86cb\u767d\u6c34\u89e3\u7269\u7247|drug",
                    "target": "cure_disease|centernode",
                    "name": "cure_disease"
                },
                {
                    "source": "\u590d\u65b9\u5421\u62c9\u897f\u5766\u8111\u86cb\u767d\u6c34\u89e3\u7269\u7247|drug",
                    "target": "use|centernode",
                    "name": "use"
                },
                {
                    "source": "\u590d\u65b9\u5421\u62c9\u897f\u5766\u8111\u86cb\u767d\u6c34\u89e3\u7269\u7247|drug",
                    "target": "forbid|centernode",
                    "name": "forbid"
                },
                {
                    "source": "\u590d\u65b9\u5421\u62c9\u897f\u5766\u8111\u86cb\u767d\u6c34\u89e3\u7269\u7247|drug",
                    "target": "uneffect|centernode",
                    "name": "uneffect"
                },
                {
                    "source": "use|centernode",
                    "target": "\u53e3\u670d\uff0c\u4e00\u65e53\u6b21\uff0c\u6210\u4eba\u4e00\u6b213\u7247\uff0c\u513f\u7ae5\u914c\u51cf\u6216\u9075\u533b\u5631\u3002|use",
                    "name": " "
                },
                {
                    "source": "uneffect|centernode",
                    "target": "\u5c1a\u672a\u89c1\u6709\u5173\u4e0d\u826f\u53cd\u5e94\u62a5\u9053\u3002|uneffect",
                    "name": " "
                },
                {
                    "source": "forbid|centernode",
                    "target": "\u5bf9\u672c\u54c1\u8fc7\u654f\u8005\u7981\u7528\u3002|forbid",
                    "name": " "
                },
                {
                    "source": "attention|centernode",
                    "target": "\u5f53\u836f\u54c1\u6027\u72b6\u53d1\u751f\u6539\u53d8\u65f6\u7981\u6b62\u4f7f\u7528\u3002|attention",
                    "name": " "
                },
                {
                    "source": "cure_disease|centernode",
                    "target": "\u53cd\u5e94\u6027\u6291\u90c1|disease",
                    "name": " "
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": function (x) { if(x.dataType === 'edge'){return x.data.name;} var strs = x.data.des;  var str = ''; for(var i = 0, s; s = strs[i++];) { if(i==500){str+='...'; break;} str += s; if(!(i % 50)) str += '<br>'; } return str;},
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "",
                "attention",
                "use",
                "uneffect",
                "forbid",
                "disease",
                "drug"
            ],
            "selected": {
                "": true,
                "attention": true,
                "use": true,
                "uneffect": true,
                "forbid": true,
                "disease": true,
                "drug": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u590d\u65b9\u5421\u62c9\u897f\u5766\u8111\u86cb\u767d\u6c34\u89e3\u7269\u7247\u76f8\u5173\u77e5\u8bc6\u56fe\u8c31",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_8932f7ffa11b4f1da3dae26b5459ae99.setOption(option_8932f7ffa11b4f1da3dae26b5459ae99);
    </script>
</body>
</html>
