<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="6c5d0a3c6d95421089e7545fda3c7dcf" class="chart-container" style="width:100%; height:700px;"></div>
    <script>
        var chart_6c5d0a3c6d95421089e7545fda3c7dcf = echarts.init(
            document.getElementById('6c5d0a3c6d95421089e7545fda3c7dcf'), 'white', {renderer: 'canvas'});
        var option_6c5d0a3c6d95421089e7545fda3c7dcf = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 2500,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "formatter": function (x) { var strs = x.data.name;   var n='';    var str='centernode';   if(strs.search(str)!=-1) {return  n;}   var strs = x.data.name.split('|')[0];  if(strs.length<=6){                       return strs;                   }else {                       name = strs.slice(0,6) + '...';                        return name;                   }}
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": true,
            "focusNodeAdjacency": "true",
            "data": [
                {
                    "name": "\u601d\u8651\u4f24\u813e|symptom",
                    "des": "\u601d\u8651\u4f24\u813e",
                    "category": 3,
                    "symbolSize": 90
                },
                {
                    "name": "accompany_disease|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "desc|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "\u7cbe\u795e \u6291\u90c1 \u75c7\uff0c\u4e2d\u533b\u53e4\u79f0 \u601d\u8651\u4f24\u813e \u3002\u601d\u8651\u4f24\u813e\u4f1a\u5f15\u8d77 \u4e73\u817a\u80c0\u75db \u3002|desc",
                    "des": "\u7cbe\u795e \u6291\u90c1 \u75c7\uff0c\u4e2d\u533b\u53e4\u79f0 \u601d\u8651\u4f24\u813e \u3002\u601d\u8651\u4f24\u813e\u4f1a\u5f15\u8d77 \u4e73\u817a\u80c0\u75db \u3002",
                    "category": 2,
                    "symbolSize": 70
                },
                {
                    "name": "\u4ea7\u540e\u6291\u90c1|disease",
                    "des": "\u4ea7\u540e\u6291\u90c1",
                    "category": 1,
                    "symbolSize": 70
                }
            ],
            "categories": [
                {},
                {
                    "name": "disease"
                },
                {
                    "name": "desc"
                },
                {
                    "name": "symptom"
                }
            ],
            "edgeLabel": {
                "show": true,
                "margin": 8,
                "formatter": function (x) {return x.data.name;}
            },
            "edgeSymbol": [
                "circle",
                "arrow"
            ],
            "edgeSymbolSize": [
                4,
                10
            ],
            "links": [
                {
                    "source": "\u601d\u8651\u4f24\u813e|symptom",
                    "target": "accompany_disease|centernode",
                    "name": "accompany_disease"
                },
                {
                    "source": "\u601d\u8651\u4f24\u813e|symptom",
                    "target": "desc|centernode",
                    "name": "desc"
                },
                {
                    "source": "desc|centernode",
                    "target": "\u7cbe\u795e \u6291\u90c1 \u75c7\uff0c\u4e2d\u533b\u53e4\u79f0 \u601d\u8651\u4f24\u813e \u3002\u601d\u8651\u4f24\u813e\u4f1a\u5f15\u8d77 \u4e73\u817a\u80c0\u75db \u3002|desc",
                    "name": " "
                },
                {
                    "source": "accompany_disease|centernode",
                    "target": "\u4ea7\u540e\u6291\u90c1|disease",
                    "name": " "
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": function (x) { if(x.dataType === 'edge'){return x.data.name;} var strs = x.data.des;  var str = ''; for(var i = 0, s; s = strs[i++];) { if(i==500){str+='...'; break;} str += s; if(!(i % 50)) str += '<br>'; } return str;},
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "",
                "disease",
                "desc",
                "symptom"
            ],
            "selected": {
                "": true,
                "disease": true,
                "desc": true,
                "symptom": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u601d\u8651\u4f24\u813e\u76f8\u5173\u77e5\u8bc6\u56fe\u8c31",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_6c5d0a3c6d95421089e7545fda3c7dcf.setOption(option_6c5d0a3c6d95421089e7545fda3c7dcf);
    </script>
</body>
</html>
