<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="11a2ba7330d4468a87bee9417a801408" class="chart-container" style="width:100%; height:700px;"></div>
    <script>
        var chart_11a2ba7330d4468a87bee9417a801408 = echarts.init(
            document.getElementById('11a2ba7330d4468a87bee9417a801408'), 'white', {renderer: 'canvas'});
        var option_11a2ba7330d4468a87bee9417a801408 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 2500,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "formatter": function (x) { var strs = x.data.name;   var n='';    var str='centernode';   if(strs.search(str)!=-1) {return  n;}   var strs = x.data.name.split('|')[0];  if(strs.length<=6){                       return strs;                   }else {                       name = strs.slice(0,6) + '...';                        return name;                   }}
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": true,
            "focusNodeAdjacency": "true",
            "data": [
                {
                    "name": "\u8fd1\u4e8b\u9057\u5fd8\u73b0\u8c61|symptom",
                    "des": "\u8fd1\u4e8b\u9057\u5fd8\u73b0\u8c61",
                    "category": 3,
                    "symbolSize": 90
                },
                {
                    "name": "desc|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "accompany_disease|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "\u5bf9\u65b0\u8fd1\u53d1\u751f\u7684\u4e8b\u60c5\u4e0d\u80fd\u56de\u5fc6\u518d\u73b0\u79f0\u4e3a\u8fd1\u4e8b\u9057\u5fd8\u3002\u4e5f\u79f0\u4e3a\u9006\u884c\u6027\u9057\u5fd8\u75c7\u3002\u6b63\u5e38\u7684\u89c4\u5f8b\u8fd1\u4e8b\u8f83\u6613\u56de\u5fc6\uff0c\u8fdc\u4e8b\u5219\u4e0d\u6613\u56de\u5fc6\u3002\u8111\u5668\u8d28\u6027\u75be\u75c5\u6240\u5f15\u8d77\u7684\u8bb0\u5fc6\u9057\u5fd8\uff0c\u5e38\u5e38\u662f\u8fd1\u4e8b\u9057\u5fd8\u751a\u4e8e\u8fdc\u4e8b\u9057\u5fd8\uff0c\u79f0\u4e3a\u8bb0\u5fc6\u9000\u884c\u89c4\u5f8b\u3002 \u4eba\u8111\u5728\u906d\u53d7\u5916\u4f24\u6216\u6709\u5668\u8d28\u6027\u75c5\u53d8\u65f6\uff0c\u6709\u53ef\u80fd\u9020\u6210\u5931\u5fc6\u3002\u8111\u635f\u4f24\u4f1a\u5bfc\u81f4\u4eba\u8111\u5931\u53bb\u8bb0\u5fc6\uff0c\u5305\u62ec\u8111\u5916\u4f24\u3001\u766b\u75eb\u3001\u8111\u80bf\u7624\u3001\u8111\u8840\u7ba1\u4e2d\u98ce\u4ee5...|desc",
                    "des": "\u5bf9\u65b0\u8fd1\u53d1\u751f\u7684\u4e8b\u60c5\u4e0d\u80fd\u56de\u5fc6\u518d\u73b0\u79f0\u4e3a\u8fd1\u4e8b\u9057\u5fd8\u3002\u4e5f\u79f0\u4e3a\u9006\u884c\u6027\u9057\u5fd8\u75c7\u3002\u6b63\u5e38\u7684\u89c4\u5f8b\u8fd1\u4e8b\u8f83\u6613\u56de\u5fc6\uff0c\u8fdc\u4e8b\u5219\u4e0d\u6613\u56de\u5fc6\u3002\u8111\u5668\u8d28\u6027\u75be\u75c5\u6240\u5f15\u8d77\u7684\u8bb0\u5fc6\u9057\u5fd8\uff0c\u5e38\u5e38\u662f\u8fd1\u4e8b\u9057\u5fd8\u751a\u4e8e\u8fdc\u4e8b\u9057\u5fd8\uff0c\u79f0\u4e3a\u8bb0\u5fc6\u9000\u884c\u89c4\u5f8b\u3002 \u4eba\u8111\u5728\u906d\u53d7\u5916\u4f24\u6216\u6709\u5668\u8d28\u6027\u75c5\u53d8\u65f6\uff0c\u6709\u53ef\u80fd\u9020\u6210\u5931\u5fc6\u3002\u8111\u635f\u4f24\u4f1a\u5bfc\u81f4\u4eba\u8111\u5931\u53bb\u8bb0\u5fc6\uff0c\u5305\u62ec\u8111\u5916\u4f24\u3001\u766b\u75eb\u3001\u8111\u80bf\u7624\u3001\u8111\u8840\u7ba1\u4e2d\u98ce\u4ee5...",
                    "category": 2,
                    "symbolSize": 70
                },
                {
                    "name": "\u8111\u5916\u4f24\u6240\u81f4\u7cbe\u795e\u969c\u788d|disease",
                    "des": "\u8111\u5916\u4f24\u6240\u81f4\u7cbe\u795e\u969c\u788d",
                    "category": 1,
                    "symbolSize": 70
                }
            ],
            "categories": [
                {},
                {
                    "name": "disease"
                },
                {
                    "name": "desc"
                },
                {
                    "name": "symptom"
                }
            ],
            "edgeLabel": {
                "show": true,
                "margin": 8,
                "formatter": function (x) {return x.data.name;}
            },
            "edgeSymbol": [
                "circle",
                "arrow"
            ],
            "edgeSymbolSize": [
                4,
                10
            ],
            "links": [
                {
                    "source": "\u8fd1\u4e8b\u9057\u5fd8\u73b0\u8c61|symptom",
                    "target": "desc|centernode",
                    "name": "desc"
                },
                {
                    "source": "\u8fd1\u4e8b\u9057\u5fd8\u73b0\u8c61|symptom",
                    "target": "accompany_disease|centernode",
                    "name": "accompany_disease"
                },
                {
                    "source": "desc|centernode",
                    "target": "\u5bf9\u65b0\u8fd1\u53d1\u751f\u7684\u4e8b\u60c5\u4e0d\u80fd\u56de\u5fc6\u518d\u73b0\u79f0\u4e3a\u8fd1\u4e8b\u9057\u5fd8\u3002\u4e5f\u79f0\u4e3a\u9006\u884c\u6027\u9057\u5fd8\u75c7\u3002\u6b63\u5e38\u7684\u89c4\u5f8b\u8fd1\u4e8b\u8f83\u6613\u56de\u5fc6\uff0c\u8fdc\u4e8b\u5219\u4e0d\u6613\u56de\u5fc6\u3002\u8111\u5668\u8d28\u6027\u75be\u75c5\u6240\u5f15\u8d77\u7684\u8bb0\u5fc6\u9057\u5fd8\uff0c\u5e38\u5e38\u662f\u8fd1\u4e8b\u9057\u5fd8\u751a\u4e8e\u8fdc\u4e8b\u9057\u5fd8\uff0c\u79f0\u4e3a\u8bb0\u5fc6\u9000\u884c\u89c4\u5f8b\u3002 \u4eba\u8111\u5728\u906d\u53d7\u5916\u4f24\u6216\u6709\u5668\u8d28\u6027\u75c5\u53d8\u65f6\uff0c\u6709\u53ef\u80fd\u9020\u6210\u5931\u5fc6\u3002\u8111\u635f\u4f24\u4f1a\u5bfc\u81f4\u4eba\u8111\u5931\u53bb\u8bb0\u5fc6\uff0c\u5305\u62ec\u8111\u5916\u4f24\u3001\u766b\u75eb\u3001\u8111\u80bf\u7624\u3001\u8111\u8840\u7ba1\u4e2d\u98ce\u4ee5...|desc",
                    "name": " "
                },
                {
                    "source": "accompany_disease|centernode",
                    "target": "\u8111\u5916\u4f24\u6240\u81f4\u7cbe\u795e\u969c\u788d|disease",
                    "name": " "
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": function (x) { if(x.dataType === 'edge'){return x.data.name;} var strs = x.data.des;  var str = ''; for(var i = 0, s; s = strs[i++];) { if(i==500){str+='...'; break;} str += s; if(!(i % 50)) str += '<br>'; } return str;},
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "",
                "disease",
                "desc",
                "symptom"
            ],
            "selected": {
                "": true,
                "disease": true,
                "desc": true,
                "symptom": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u8fd1\u4e8b\u9057\u5fd8\u73b0\u8c61\u76f8\u5173\u77e5\u8bc6\u56fe\u8c31",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_11a2ba7330d4468a87bee9417a801408.setOption(option_11a2ba7330d4468a87bee9417a801408);
    </script>
</body>
</html>
