<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="6aa3d51bcd1141418ee5e1bc88130bea" class="chart-container" style="width:100%; height:700px;"></div>
    <script>
        var chart_6aa3d51bcd1141418ee5e1bc88130bea = echarts.init(
            document.getElementById('6aa3d51bcd1141418ee5e1bc88130bea'), 'white', {renderer: 'canvas'});
        var option_6aa3d51bcd1141418ee5e1bc88130bea = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "graph",
            "layout": "force",
            "symbolSize": 10,
            "circular": {
                "rotateLabel": false
            },
            "force": {
                "repulsion": 2500,
                "edgeLength": 50,
                "gravity": 0.2
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "formatter": function (x) { var strs = x.data.name;   var n='';    var str='centernode';   if(strs.search(str)!=-1) {return  n;}   var strs = x.data.name.split('|')[0];  if(strs.length<=6){                       return strs;                   }else {                       name = strs.slice(0,6) + '...';                        return name;                   }}
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "roam": true,
            "draggable": true,
            "focusNodeAdjacency": "true",
            "data": [
                {
                    "name": "\u81ea\u8d23|symptom",
                    "des": "\u81ea\u8d23",
                    "category": 3,
                    "symbolSize": 90
                },
                {
                    "name": "desc|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "accompany_disease|centernode",
                    "symbolSize": 30
                },
                {
                    "name": "\u81ea\u8d23\uff0c\u56e0\u4e2a\u4eba\u7f3a\u70b9\u6216\u9519\u8bef\u800c\u611f\u5185\u759a\u8c34\u8d23\u81ea\u5df1\u3002\u79ef\u6781\u7684\u81ea\u8d23\u65e2\u662f\u4e00\u79cd\u5bf9\u4ed6\u4eba\u7684\u9053\u6b49\uff0c\u4e5f\u662f\u4e00\u79cd\u81ea\u6211\u5fc3\u7075\u7684\u89e3\u8131\uff0c\u5b83\u65e2\u53ef\u4ee5\u5316\u66b4\u623e\u4e3a\u7965\u548c\uff0c\u4e5f\n\u4f1a\u4f7f\u4eba\u771f\u8bda\u76f8\u5f85\u3002\u6d88\u6781\u7684\u81ea\u8d23\u5e38\u5e38\u8868\u73b0\u4e3a\u8fc7\u5ea6\u7684\u8d23\u5907\u81ea\u5df1\uff0c\u81f4\u4f7f\u81ea\u4ea7\u751f\u6cae\u4e27\u3001\u6094\u6068\u3001\u90c1\u95f7\u3001\u7edd\u671b\u7b49\u5fc3\u7406\uff0c\u5f71\u54cd\u8eab\u5fc3\u5065\u5eb7\u3002|desc",
                    "des": "\u81ea\u8d23\uff0c\u56e0\u4e2a\u4eba\u7f3a\u70b9\u6216\u9519\u8bef\u800c\u611f\u5185\u759a\u8c34\u8d23\u81ea\u5df1\u3002\u79ef\u6781\u7684\u81ea\u8d23\u65e2\u662f\u4e00\u79cd\u5bf9\u4ed6\u4eba\u7684\u9053\u6b49\uff0c\u4e5f\u662f\u4e00\u79cd\u81ea\u6211\u5fc3\u7075\u7684\u89e3\u8131\uff0c\u5b83\u65e2\u53ef\u4ee5\u5316\u66b4\u623e\u4e3a\u7965\u548c\uff0c\u4e5f\n\u4f1a\u4f7f\u4eba\u771f\u8bda\u76f8\u5f85\u3002\u6d88\u6781\u7684\u81ea\u8d23\u5e38\u5e38\u8868\u73b0\u4e3a\u8fc7\u5ea6\u7684\u8d23\u5907\u81ea\u5df1\uff0c\u81f4\u4f7f\u81ea\u4ea7\u751f\u6cae\u4e27\u3001\u6094\u6068\u3001\u90c1\u95f7\u3001\u7edd\u671b\u7b49\u5fc3\u7406\uff0c\u5f71\u54cd\u8eab\u5fc3\u5065\u5eb7\u3002",
                    "category": 2,
                    "symbolSize": 70
                },
                {
                    "name": "\u60c5\u611f\u6027\u5fc3\u5883\u969c\u788d|disease",
                    "des": "\u60c5\u611f\u6027\u5fc3\u5883\u969c\u788d",
                    "category": 1,
                    "symbolSize": 70
                }
            ],
            "categories": [
                {},
                {
                    "name": "disease"
                },
                {
                    "name": "desc"
                },
                {
                    "name": "symptom"
                }
            ],
            "edgeLabel": {
                "show": true,
                "margin": 8,
                "formatter": function (x) {return x.data.name;}
            },
            "edgeSymbol": [
                "circle",
                "arrow"
            ],
            "edgeSymbolSize": [
                4,
                10
            ],
            "links": [
                {
                    "source": "\u81ea\u8d23|symptom",
                    "target": "desc|centernode",
                    "name": "desc"
                },
                {
                    "source": "\u81ea\u8d23|symptom",
                    "target": "accompany_disease|centernode",
                    "name": "accompany_disease"
                },
                {
                    "source": "desc|centernode",
                    "target": "\u81ea\u8d23\uff0c\u56e0\u4e2a\u4eba\u7f3a\u70b9\u6216\u9519\u8bef\u800c\u611f\u5185\u759a\u8c34\u8d23\u81ea\u5df1\u3002\u79ef\u6781\u7684\u81ea\u8d23\u65e2\u662f\u4e00\u79cd\u5bf9\u4ed6\u4eba\u7684\u9053\u6b49\uff0c\u4e5f\u662f\u4e00\u79cd\u81ea\u6211\u5fc3\u7075\u7684\u89e3\u8131\uff0c\u5b83\u65e2\u53ef\u4ee5\u5316\u66b4\u623e\u4e3a\u7965\u548c\uff0c\u4e5f\n\u4f1a\u4f7f\u4eba\u771f\u8bda\u76f8\u5f85\u3002\u6d88\u6781\u7684\u81ea\u8d23\u5e38\u5e38\u8868\u73b0\u4e3a\u8fc7\u5ea6\u7684\u8d23\u5907\u81ea\u5df1\uff0c\u81f4\u4f7f\u81ea\u4ea7\u751f\u6cae\u4e27\u3001\u6094\u6068\u3001\u90c1\u95f7\u3001\u7edd\u671b\u7b49\u5fc3\u7406\uff0c\u5f71\u54cd\u8eab\u5fc3\u5065\u5eb7\u3002|desc",
                    "name": " "
                },
                {
                    "source": "accompany_disease|centernode",
                    "target": "\u60c5\u611f\u6027\u5fc3\u5883\u969c\u788d|disease",
                    "name": " "
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "formatter": function (x) { if(x.dataType === 'edge'){return x.data.name;} var strs = x.data.des;  var str = ''; for(var i = 0, s; s = strs[i++];) { if(i==500){str+='...'; break;} str += s; if(!(i % 50)) str += '<br>'; } return str;},
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "",
                "disease",
                "desc",
                "symptom"
            ],
            "selected": {
                "": true,
                "disease": true,
                "desc": true,
                "symptom": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u81ea\u8d23\u76f8\u5173\u77e5\u8bc6\u56fe\u8c31",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_6aa3d51bcd1141418ee5e1bc88130bea.setOption(option_6aa3d51bcd1141418ee5e1bc88130bea);
    </script>
</body>
</html>
